@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
#home{
    font-family: 'Roboto Mono','monospace';
    background-image: url('./assets/bc2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
}
#home-h1{
    text-shadow: 0px 0px;
    font-size: 4rem;
    
}

#para{
    font-size: 1.6rem;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.u-section-1 .u-sheet-1 {
    min-height: 1318px;
  }
  
  .u-section-1 .u-group-1 {
    width: 487px;
    background-image: none;
    height: auto;
    min-height: 199px;
    margin: 64px auto 0 111px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 10px 0;
  }
  
  .u-section-1 .u-text-1 {
    margin: 15px 10px 0 30px;
  }
  
  .u-section-1 .u-text-2 {
    line-height: 2;
    font-size: 1rem;
    margin: 20px 10px 0 30px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 918px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 284px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-3 {
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 284px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 141px 0 30px;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin: 20px -1px 0 30px;
  }
  
  .u-section-1 .u-group-2 {
    background-image: none;
    height: auto;
    width: 459px;
    min-height: 158px;
    margin: 181px 111px 0 auto;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 30px;
  }
  
  .u-section-1 .u-text-6 {
    margin: 38px 0 0;
  }
  
  .u-section-1 .u-text-7 {
    line-height: 2;
    font-size: 1rem;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-layout-wrap-2 {
    width: 918px;
    margin: 0 auto 60px;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 250px;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 20px 0;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 3rem;
    font-weight: 700;
    margin: 23px 51px 0 0;
  }
  
  .u-section-1 .u-text-9 {
    margin: 20px -98px 0 0;
  }
  
  .u-section-1 .u-layout-cell-4 {
    min-height: 46px;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-10 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.8;
    margin: 0 0 0 256px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      margin-top: 72px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
      height: auto;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-1 .u-text-4 {
      width: auto;
      margin-top: 30px;
      margin-right: 84px;
    }
  
    .u-section-1 .u-text-5 {
      width: auto;
      margin-top: 0;
      margin-right: 0;
      margin-left: 29px;
    }
  
    .u-section-1 .u-group-2 {
      margin-top: 100px;
      margin-right: auto;
      height: auto;
    }
  
    .u-section-1 .u-text-6 {
      width: auto;
    }
  
    .u-section-1 .u-text-7 {
      width: auto;
    }
  
    .u-section-1 .u-layout-wrap-2 {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 885px;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 30px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: 52px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-wrap-2 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-bottom: 0;
    }
  
    .u-section-1 .u-text-8 {
      width: auto;
      margin-right: -84px;
    }
  
    .u-section-1 .u-text-9 {
      width: auto;
      margin-top: 24px;
      margin-right: -84px;
    }
  
    .u-section-1 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-1 .u-text-10 {
      margin-left: 49px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1085px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: 30px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1182px;
    }
  
    .u-section-1 .u-group-1 {
      width: 440px;
      min-height: 221px;
      margin-right: -100px;
      margin-left: auto;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 25px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 0.75rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 425px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: auto;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1.5rem;
      margin-top: 0;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 0.875rem;
      margin-top: 2px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-group-2 {
      margin-top: 114px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-right: 0;
      padding-left: 0;
    }
  
    .u-section-1 .u-text-6 {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-text-7 {
      margin-left: 10px;
    }
  
    .u-section-1 .u-layout-wrap-2 {
      width: 405px;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-text-8 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-9 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-10 {
      margin-left: 0;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 2756px;
  }
  
  .u-section-2 .u-group-1 {
    width: 388px;
    background-image: none;
    height: auto;
    min-height: 144px;
    margin: 0 auto 0 111px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-2 .u-text-1 {
    margin: 24px 10px 0 30px;
  }
  
  .u-section-2 .u-text-2 {
    line-height: 2;
    font-size: 1rem;
    margin: 20px 10px 0 30px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    width: 918px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 290px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-3 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.8;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 290px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }
  
  .u-section-2 .u-text-4 {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 194px 0 30px;
  }
  
  .u-section-2 .u-text-5 {
    margin: 20px 0 0 10px;
  }
  
  .u-section-2 .u-group-2 {
    background-image: none;
    height: auto;
    width: 388px;
    min-height: 171px;
    margin: 180px 111px 0 auto;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 51px 0 0 20px;
  }
  
  .u-section-2 .u-text-7 {
    line-height: 2;
    font-size: 1rem;
    margin: 20px 0 0 20px;
  }
  
  .u-section-2 .u-layout-wrap-2 {
    width: 918px;
    margin: 0 auto 60px;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 20px 0;
  }
  
  .u-section-2 .u-text-8 {
    font-size: 3rem;
    font-weight: 700;
    margin: 23px 38px 0 0;
  }
  
  .u-section-2 .u-text-9 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-10 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.8;
    margin: 0 0 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-group-1 {
      margin-top: -127px;
      margin-left: auto;
      height: auto;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: 0;
    }
  
    .u-section-2 .u-group-2 {
      margin-top: 127px;
      margin-right: auto;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2396px;
    }
  
    .u-section-2 .u-group-1 {
      margin-top: 0;
      margin-left: 147px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 92px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 0;
    }
  
    .u-section-2 .u-group-2 {
      margin-top: 0;
    }
  
    .u-section-2 .u-layout-wrap-2 {
      width: 720px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2596px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-layout-wrap-2 {
      width: 540px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-group-1 {
      width: 340px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 0;
    }
  
    .u-section-2 .u-group-2 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 0;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 0;
    }
  
    .u-section-2 .u-layout-wrap-2 {
      width: 340px;
    }
  }