@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
#navbar{
    background-color: #1d3557;
}
#logo-text{
    font-family: 'Roboto Mono',monospace;
    font-size: 2rem;
    color: #fff;
}
  
#logo{
    margin: 10%;
    color: #FCA311;
}
 
#login, #signup{
    font-family: Inconsolata;
    font-size: 1.2rem;
    border: 1px solid;
    border-radius: 10%;
}
#login{
    border-color: #FCA311;
    color: #FCA311;
}
#login:hover{
    background-color: #fca311;
    color: #fff;
}
#signup{
    border-color: #fff;
    color: #fff;
}
#signup:hover{
    background-color: #fff;
    color: #1d3557;
}
#auth{
    margin-right: 2%;
}